<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
    <header class="menu">
        <h1 class="menu__contacto">Menu</h1>
        <ul class="nav__main">
            <li class="item__nav">
                <a class="menu__enlace" href="../index.html">Inicio</a>
            </li>
            <li class="item__nav">
                <a class="menu__enlace" href="./Coleccion 2022.html">Coleccion 2022</a>
            </li>
            <li class="item__nav">
                <a class="menu__enlace" href="./nosotros.html">Nosotros</a>
            </li>
            <li class="item__nav">
                <a class="menu__enlace" href="./Sale.html">SALE</a>
            </li>
        </ul>
        <br>
    </header>
    <br>
    <h2>¡Dejanos tu consulta!</h2>
    <form action="" method="post" enctype="text/plain">
        <input type="text" name="Nombre" placeholder="Nombre">
        <input type="email" name="Mail" placeholder="Mail de contacto">
        <input type="submit" value="Enviar">
        <br>
        <textarea name="Casilla de mensajes" placeholder="Envianos tu consulta!" id="" cols="30" rows="10"></textarea>
        <br>
        <div class="div__item">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate iusto soluta, facere laudantium sit maxime vitae, ea possimus necessitatibus consectetur dolore? Soluta illum itaque ullam provident illo aspernatur sit nostrum?
        </div>
    <br>
    <footer class="backmenu">
        <br class="item__nav">
        <li  class="menu__item">
            <a class="menu__link" href="https://www.instagram.com/"> Instagram</a>
        </li>
        <li  class="menu__item">
            <a class="menu__link" href="https://twitter.com/"> twitter</a>
        </li>
    </footer>
<body>
    
</body>
</html>