<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
    <header class="menu">
        <h1 class="menu__tittle">Menu</h1>
        <ul class="item__nav">
            <li  class="menu__item">
                <a href="../index.html">Inicio</a>
            </li>
            <li  class="menu__item">
                <a href="./contacto.html">Contacto</a>
            </li>
            <li  class="menu__item">
                <a href="./Coleccion 2022.html">Coleccion 2022</a>
            </li>
            <li  class="menu__item">
                <a href="./Sale.html">SALE</a>
            </li>

    </header>
    </ul>
    <br>
    <h2>¡Nuestras direcciones!</h2>
    <ul class="direction__item">
        <li>
            Local en Dot Baires Shopping
        </li>
        <li>
            Local el Alto Palermo
        </li>
    </ul>
    <br>
    <footer class="backmenu">
        <br>
        <ul>
            <li class="menu__item">
                <a href="https://www.instagram.com/"> Instagram</a>
            </li>
            <li class="menu__item">
                <a href="https://twitter.com/"> twitter</a>
            </li>
        </ul>

    </footer>
<body>
    
</body>
</html>