<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
    <header class="menu">
        <h1 class="menu__tittle">Menu</h1>
        <ul class="nav__main">
            <li  class="item__nav">
                <a href="../index.html">Inicio</a>
            </li>
            <li  class="item__nav">
                <a href="./contacto.html">Contacto</a>
            </li>
            <li  class="item__nav">
                <a href="./nosotros.html">Nosotros</a>
            </li>
            <li  class="item__nav">
                <a href="./Coleccion 2022.html">Coleccion 2022</a>
            </li>
        </ul>
        <br>
        <h2  class="menu__tittle">¡Productos en descuento!</h2>
        <br>
        <img src="../img/pexels-arina-krasnikova-5418888.jpg" alt="Es una imagen de dos mujeres viendo una camisa blanca" width="60%">
    </header>
    <br>
    <footer>
        <br>
        <ul class="item__nav">
            <li  class="menu__item">
                <a href="https://www.instagram.com/"> Instagram</a>
            </li>
            <li  class="menu__item">
                <a href="https://twitter.com/"> twitter</a>
            </li>
        </ul>
    </footer  class="backmenu">
<body>
    
</body>
</html>