<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
    <header class="menu">
        <h1 class="menu__tittle">Menu</h1>
            <ul class="item__nav">
                <li class="menu__item">
                    <a href="../index.html">Inicio</a>
                </li>
                <li class="menu__item">
                    <a href="./contacto.html">Contacto</a>
                </li>
                <li class="menu__item">
                    <a href="./nosotros.html">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="./Sale.html">SALE</a>
                </li>
            </ul>
            <br>
        <h2 class="menu__tittle">¡Conjuntos!</h2>
        <br>
    </header>
    <div class="new__card">
        <ul>
            <li>
                Conjunto Jazmin:
                <br>
                <img src="../img/of pinterest.jpg" alt="Es una imagen de una chica vistiendo un conjunto" width="20%">
                    <p>Precio: $2000</p>
                <br>
            </li>
            <li>
                <p>Conjunto Indiana:</p>
                <br>
                <img src="../img/of pinterest 2.jpg" alt="Es una imagen de una chica vistiendo un conjunto" width="20%">
                Precio: $2990
            </li>
        </ul>
    </div>
    <br>
    <footer class="backmenu">
        <br>
        <ul class="item__nav">
            <li class="menu__item">
                <a href="https://www.instagram.com/"> Instagram</a>
            </li>
            <li class="menu__item">
                <a href="https://twitter.com/"> twitter</a>
            </li>
        </ul>
    </footer>
<body>
    
</body>
</html>