<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="menu">
        <h1 class="menu__tittle">Menu</h1>
        <nav class="nav__main">
            <ul class="item__nav">
                <li class="menu__item">
                    <a class="menu__link" href="../index.html">Inicio</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./contacto.html">Contacto</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./nosotros.html">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="./Sale.html">SALE</a>
                </li>
            </ul>
                    </nav>

    </header>
    <h2 class="menu__tittle">¡Conjuntos!</h2>
    <main class="main__principal">
    <div class="grid__container">
        <div class="item1">
            <h3>Conjunto Indiana</h3>
            <picture class="box1">
                <img src="../img/Conjunto Indiana.jpeg" alt="">
            </picture>
            <p class="parrafo1">
                Precio:
                $6.000
            </p>
        </div>
        <div class="item2">
            <h3>Conjunto Jazmin</h3>
            <picture>
                <img src="../img/Conjunto Jazmin.jpeg" alt="">
            </picture>
            <p class="parrafo2">
                Precio:
                $4.500
            </p>
        </div>
        <div class="item3">
            <h3>Conjunto White</h3>
            <picture>
                <img src="../img/Conjunto Off-White.jpeg" alt="">
            </picture>
            <p class="parrafo3">
                Precio:
                $2.000
            </p>
        </div>
        <div class="item4">
            <h3>Conjunto Valencia</h3>
            <picture>
                <img src="../img/Conjunto Valencia.jpeg" alt="">
            </picture>
            <p class="parrafo4">
                Precio:
                $7.500
            </p>
        </div>
    </div>
    </main>
    <footer class="backmenu">
        <br>
        <ul class="item__nav">
            <li class="menu__item">
                <a href="https://www.instagram.com/"> Instagram</a>
            </li>
            <li class="menu__item">
                <a href="https://twitter.com/"> twitter</a>
            </li>
        </ul>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>    </main>

</body>
</html>